$color-black: #333333;
$color-white: #fafafa;

$font-main: "Nunito", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

a:link,
a:visited {
  text-decoration: none;
}

.nav__bar {
  background-image: url("./images/nav_background.jpg");
  height: 100vh;
  width: 25vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  //   &__box {
  //     background-color: $color-white;
  //     border: 2px solid $color-black;
  //     margin: 30px;
  //     height: 90%;
  //     opacity: 0.5;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //   }

  &__image {
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin: 7.5%;
    border: 2px solid $color-black;
  }

  &__buttons {
    margin: 7.5%;
  }

  &__icon {
    width: 20%;
    margin-bottom: 10%;
  }
}

button a {
  color: $color-white;
}

.heading {
  text-align: center;
  color: $color-white;
  font-weight: bold;
}

.main {
  margin-left: 25%;
}

.div__welcome {
  height: 100vh;
  background-image: url("./images/pear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.75;

  &__text {
    text-align: center;
    margin-top: 25%;
    margin-right: 4%;
    color: $color-black;

    &--1 {
      font-size: 3em;
      font-weight: bold;
    }

    &--2 {
      font-size: 3em;
    }
  }
}

.div__about {
  height: 100vh;
  background-image: url("./images/pear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.75;

  &__heading {
    font-size: 4em;
    margin: 5%;
  }

  &__text {
    margin: 1% 5%;
    font-size: 1.25em;
  }
}

.div__projects {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    opacity: 0.75;
    font-size: 4em;
    margin: 2% 5%;
  }
}

.carousel {
  width: 75%;
}

.div__contact {
  height: 100vh;
  background-image: url("./images/pear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.75;

  &__heading {
    font-size: 4em;
    margin: 5%;
  }

  &__icons {
    margin-left: 31.5%;
    font-size: 5em;
    display: flex;
    // flex-wrap: wrap;
  }

  &__icon__link {
    margin: 1.5%;
    color: $color-black;
  }

  &__icon__link:hover {
    text-decoration: none;
    color: $color-black;
  }

  &__attribute {
    margin-left: 5%;
  }

  &__attribute__link,
  &__attribute__link:hover {
    text-decoration: none;
    color: $color-black;
  }
}

@media screen and (max-width: 768px) {
  .nav__bar {
    width: 35vw;
  }
  .main {
    margin-left: 35%;
  }
  .div__projects {
    height: 65vh;

    &__heading {
      margin-bottom: 10%;
    }
  }
  .div__contact {
    &__icons {
      margin-top: 10%;
      margin-left: 15%;
    }
  }
}

@media screen and (max-width: 480px) {
  .nav__bar {
    width: 100vw;
    position: static;

    &__buttons {
      margin: 5%;
    }
  }

  .main {
    margin-left: 0;
  }

  .div__welcome {
    justify-content: flex-end;

    &__text {
      margin-bottom: 25%;
      margin-right: 10%;
    }
  }

  .div__about__text {
    font-size: 1em;
  }

  .div__projects {
    height: 65vh;
  }

  .carousel {
    margin-top: 10%;
    width: 95%;
  }

  .div__contact {
    &__icons {
      margin-top: 10%;
      margin-left: 15%;
    }
  }
}
