$color-black: #333333;
$color-white: #fafafa;

$font-main: "Nunito", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

.nav__bar {
  background-image: url("./images/nav_background.jpg");
  height: 100vh;
  width: 25vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  //   &__box {
  //     background-color: $color-white;
  //     border: 2px solid $color-black;
  //     margin: 30px;
  //     height: 90%;
  //     opacity: 0.5;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //   }

  &__image {
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin: 7.5%;
    border: 2px solid $color-black;
  }

  &__buttons {
    margin: 7.5%;
  }

  &__icon {
    width: 20%;
    margin-bottom: 10%;
  }
}

.heading {
  text-align: center;
  color: $color-white;
  font-weight: bold;
}

.main {
  margin-left: 25%;
}

.div__welcome {
  height: 100vh;
  background-image: url("./images/pear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.75;

  &__text {
    text-align: center;
    margin-top: 25%;
    margin-right: 4%;
    color: $color-black;

    &--1 {
      font-size: 3em;
      font-weight: bold;
    }

    &--2 {
      font-size: 3em;
    }
  }
}

.div__about {
  height: 100vh;
  background-image: url("./images/pear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.75;

  &__heading {
    font-size: 4em;
    margin: 5%;
  }

  &__text {
    margin: 1% 5%;
    font-size: 1.25em;
  }
}

.div__projects {
  height: 100vh;
  background-image: url("./images/pear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.75;

  &__heading {
    font-size: 4em;
    margin: 5%;
  }
}

.div__contact {
  height: 100vh;
  background-image: url("./images/pear.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.75;

  &__heading {
    font-size: 4em;
    margin: 5%;
  }
}
