@import "./base";
@import "./layout";
@import "./components";

@media screen and (max-width: 768px) {
  .nav__bar {
    width: 35vw;
  }
  .main {
    margin-left: 35%;
  }
  .div__projects {
    height: 65vh;

    &__heading {
      margin-bottom: 10%;
    }
  }
  .div__contact {
    &__icons {
      margin-top: 10%;
      margin-left: 15%;
    }
  }
}

@media screen and (max-width: 480px) {
  .nav__bar {
    width: 100vw;
    position: static;

    &__buttons {
      margin: 5%;
    }
  }

  .main {
    margin-left: 0;
  }

  .div__welcome {
    justify-content: flex-end;

    &__text {
      margin-bottom: 25%;
      margin-right: 10%;
    }
  }

  .div__about__text {
    font-size: 1em;
  }

  .div__projects {
    height: 65vh;
    &__heading {
      margin-bottom: 0;
    }
  }

  .carousel {
    margin-top: 10%;
    width: 95%;
  }

  .div__contact {
    &__icons {
      margin-top: 10%;
      margin-left: 15%;
    }
  }
}
